body {
    font-family: Arial, sans-serif;
    background-color: orange;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.container h2 {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.container button[type="submit"] {
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container .toggle-form {
    text-align: center;
    margin-top: 10px;
}

.container .avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
