
.main-layout{
    width: 100%;
    height: fit-content;
    padding: 5%;
}

.form-area{
    width: 40%;
    height: 50%;
}

.login-card{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.326);
}

.input-field{
    width: 50%;
    border: solid blue 2px;
}

.login-btn{
    padding-left: 10%;
    padding-right: 10%;
}